.btn {
  color: var(--theme-color);
  padding: 0.75em 1em;
  text-decoration: none;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: var(--tsm);
  outline: none;
  display: flex;
  transition-duration: 320ms;
  &:hover {
    box-shadow: 4px 4px 0 0 var(--theme-color);
    transform: translate(-3px, -3px);
  }
  &:focus {
    background-color: var(--lightest-navy);
  }
}
